# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build outputs
dist/
build/
coverage/
*.tgz

# IDE and Editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac system files
.DS_Store

# Other files to ignore
*.pem
*.p12
*.key
